<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

        <hibernate-configuration>
        <session-factory>
      <!--PostgreSQL settings-->
            <!-- MySQL mit WAMP -->
            <!--
            <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
            <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
            <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
            <property name="hibernate.connection.username">root</property>
            <property name="hibernate.connection.password"></property>
            -->
            <!--SQLite settings-->
            <property name="connection.driver_class">org.sqlite.JDBC</property>
            <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
            <property name="connection.url">jdbc:sqlite:test.sqlite</property>
            <property name="connection.username"></property>
            <property name="connection.password"></property>
            <property name="hibernate.hbm2ddl.auto">create-drop</property>
            <property name="show_sql">true</property>
            <property name="format_sql">true</property>

            <!--SQLITE Achtung: ohne diese angabe gibt es eine
            org.hibernate.HibernateException: No CurrentSessionContext configured
            https://www.journaldev.com/2903/org-hibernate-hibernateexception-no-currentsessioncontext-configured-->
            <property name="hibernate.current_session_context_class">
                org.hibernate.context.internal.ThreadLocalSessionContext
            </property>

            <mapping class="model.classes.Person"/>
            <mapping class="model.classes.Band"/>
        </session-factory>

        </hibernate-configuration>